<template>
  <div class="container-vms">
      <VmLine v-for="vm in vms"
              :key="vm.id"
              :id="vm.id"
              :name="vm.name"
              :domain="vm.domain"
              :ip="vm.ip"
              :state="vm.state"
      ></VmLine>
  </div>
</template>

<script>
import VmLine from "./VmLine.vue";
import { onBeforeMount, ref} from 'vue'
import {getVmsInfo, listenSSE} from "../behaviors/api";

export default {
name: "ListVms",
  components: {VmLine},
  setup() {

    const vms = ref([])

    // const vms = [
    //   {name: "VM1", ip:"192.168.9.12", domain: "nginx1.test.com", id:"107"},
    //   {name: "VM2", ip:"192.168.9.13", domain: "nginx2.test.com", id: "108"},
    // ]

    onBeforeMount( async () => {
      vms.value = await getVmsInfo(true)
      listenSSE(vms)
    })

    return {
      vms
    }
  }
}
</script>

<style scoped>
  .container-vms {
    display: flex;
    flex-direction: column;
  }
</style>