<template>
<div class="container-line-vm">
  <div class="container-name item">{{name}}</div>
  <div class="container-domain item">{{domain}}</div>
  <div class="container-ip item">{{ip}}</div>
  <div class="container-action">
    <button v-if="state==='started'" type="button" @click="stop">Stop</button>
    <button v-else type="button" @click="start">Start</button>
  </div>
</div>
</template>

<script>
import {stopVm, startVm} from "../behaviors/api";

export default {
  name: "VmLine",

  props: {
    id: Number,
    name: String,
    ip : String,
    domain: String,
    state: String
  },

  setup(props) {

    return {
      name: props.name,
      ip : props.ip,
      domain : props.domain,
      state: props.state,
      stop: () => stopVm(props.id),
      start: () => startVm(props.id)
    }
  }
}
</script>

<style scoped>
  .container-line-vm {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .item {
    padding-left: 10px;
    padding-right: 10px;
  }

</style>